.container {
  background-image: url('https://www.squadhelp.com/html/html/static_images/contests/create-account-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
}
