.field {
  position: relative;
  width: 400px;
  height: 50px;
  background-color: white;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  border-radius: 2px;

  border: none;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  height: fit-content;
  align-items: center;
}

.button {
  background-color: rgb(64, 199, 204);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 400px;

  height: 50px;

  border: none;
  border-radius: 2px;
}

.field:focus {
  outline: none;
}

.errorMessage {
  position: absolute;
  z-index: 100;
  top: 60px;
  width: 400px;
  height: 50px;
  background-color: rgba(255, 135, 135, 0.342);
  border: 1px solid red;
  color: red;
  font-size: 14px;
  text-transform: capitalize;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  background-repeat: no-repeat;
  padding: 15px 10px 15px 50px;
}
