.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 830px;
  height: 90px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 20px;
  background-color: white;

  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;

  margin: 10px 0;
}

.container:hover {
  border: 1px solid blue;
  background-color: rgb(217, 238, 255);
  cursor: pointer;
}

.containerOpen {
  height: 290px;
  min-height: 50px;
  background-color: rgb(64, 131, 255);
  border: none;
  color: white;
  overflow: hidden;
}

.containerOpen:hover {
  border: none;
  background-color: rgb(64, 131, 255);
}

.captionWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 90px;
}

.captionText {
  flex-basis: 1;
  margin-right: auto;
}

.content {
  display: none;
}

.contentOpen {
  display: block;
  margin: 0;
  padding: 20px;
  line-height: 1.5;
}
