.light {
  background-color: rgb(146, 180, 209);
  color: black;
  border: 1px solid black;
}

.dark {
  background-color: rgb(57, 6, 105);
  color: aliceblue;
  border: 1px solid rgb(168, 206, 224);
}
